@import "_variables";
@import "_fonts";



.hide, .container.hide {display:none !important;}

@media(min-width:960px){
.container, .container-lg, .container-md, .container-sm, .container-xl{
	width:100%;
	max-width:960px;

	@media(min-width:1024px){
	.container, .container-lg, .container-md, .container-sm, .container-xl{
		max-width:1024px;

	}
	}
}
}



@media(min-width:1140px){
	.container, .container-lg, .container-md, .container-sm, .container-xl{
	width:100%;max-width:1140px;
	}
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl{padding-left:0; padding-right:0;}

body {
    font-family: 'BrandonGrotesque-Regular', sans-serif;
    color: $darkteal;
}


header{

overflow-x:hidden;
	.container{

	margin-bottom:50px;
	background:url(/app/images/headerimg.jpg) right bottom no-repeat transparent;
	position:relative;
	#headerlogo{
	display:block; text-indent:-999px; overflow:hidden; width:409px; height:91px; max-width:80%; background: url(/app/images/headerlogo.png) left top no-repeat transparent;	 background-size:contain ;
	margin:30px 0 50px;

	}

	.yellowarrowdown{clear:both; margin-bottom:50px; margin-top:50px;}
	h2{margin:50px 0 30px 0;}
	&:after {position:absolute; display:block; content:""; height:90%;
	z-index:-1; width:320%; background-color:$yellow; right:calc(-300%+50px); bottom:0;}

}
}

.yellowarrowdown{
	height:37px; width:93px;
	display:block; text-indent:-999px; overflow:hidden;
	background: url(/app/images/yellowarrowdown.png) center center no-repeat transparent;

	&.leftalign{margin:30px 0;}
	&.centeralign{margin:30px auto;}

}
#printbutton{
		height:100%; width:100%;
	display:block; text-indent:-999px; overflow:hidden;
	background: url(/app/images/printicon.png) center center no-repeat transparent;
}

.col-md-6.col-sm-6{margin:20px auto;}
.boxshadow{
	padding:20px;
	box-shadow:0px 0px 10px rgba(0,0,0,.3);
	height:100%;

	p{text-align:center; margin:10px; font-size:22px; line-height:26px;}
	margin-top:30px; margin-bottom:30px;
}



#topmap{display:block; width:100%; height:500px; position:relative;

background: url(/app/images/headermap.jpg) center center no-repeat $yellow;
background-size:cover;

&:before{content:""; position:absolute; width:100%; top:0; height:2px; background:#fff; box-shadow: 0px 10px 15px rgba(0,0,0,.5);}
&:after{content:""; position:absolute; bottom:0; width:100%; height:2px; background:#fff; box-shadow: 0px -10px 15px rgba(0,0,0,.5);}
}
.whitearrowup{display:block; position:relative; height:30px; top:-15px; z-index:10px; width:100%; background: url(/app/images/leftarrowbg.png) top left no-repeat transparent;}
.yellowtxt.largebullet{font-size:50px;}

form{
	input{
	width:99%; margin:30px auto; border: 3px solid $yellow; border-radius: 10px; display:block; padding:10px 30px; font-size:28px;
	}
}
h2.borderyellow{display: block;
    max-width: max-content;
    padding: 23px;
    font-size: 60px;
    margin: 20px auto;
    line-height: 70px;}

.standardstable{
	margin:30px auto 50px;
	table{
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
		tr,thead{
			td, th{
				border:0;
				text-align:center;
				vertical-align:middle;
				position:relative;

						&:after {
						    content: "";
						    height: 2px;
						    background: linear-gradient(to right,  rgba(252,214,11,1) 0%,rgba(252,214,11,1) 100%);
						    display: block;
						    margin-bottom: 1px;
						    margin-top: 1px;
						}
						&:before {
						    content: "";
						    width: 2px;
						    height:100%;
						    background: linear-gradient(to bottom,  rgba(252,214,11,1) 0%,rgba(252,214,11,1) 100%);
						    display: block;
						    position:absolute;
						    left:-1px;
						    top:0;
						}

					
			}
			&:last-child td{
				&:after {display:none;
						}
				&:before{
					background: linear-gradient(to bottom,  rgba(252,214,11,1) 0%,rgba(252,214,11,0) 100%);
				}
			&:first-child{
				&:before{
					background: linear-gradient(to bottom,  rgba(252,214,11,0) 0%,rgba(252,214,11,0) 100%);
				}
			}
			}
		}

		thead{
			th{
			color:$teal;
			font-weight:bold;
				&:before{
					background: linear-gradient(to bottom,  rgba(252,214,11,0) 0%,rgba(252,214,11,1) 100%);
				}
			}
		}

		th,td{
					&:first-child{
						&:after {
						    background: linear-gradient(to right,  rgba(252,214,11,0) 0%,rgba(252,214,11,1) 100%);
						}
						&:before{
							background: linear-gradient(to bottom,  rgba(252,214,11,0) 0%,rgba(252,214,11,0) 100%);
						}
					}

					&:last-child{
							&:after {
							    background: linear-gradient(to right,   rgba(252,214,11,1) 0%,rgba(252,214,11,0) 100%);
							}
					}
			font-family:'BrandonGrotesque-Regular'; 
			color:$lightgray;
			font-size:29px;
			line-height:53px;
		}


	}
}

.card{
margin:20px auto;
.card-header{background:white; border:0px;

	a{ color:$teal; font-size:28px; display:block;width:100%; background: url(/app/images/yellowarrowdownsm.png) center right no-repeat transparent;  
	&[aria-expanded="true"]{background-image:url(/app/images/yellowarrowupsm.png);}
	}

}
}
#bottommap{width:100%; height:500px;
background: url(/app/images/lowermap.jpg) center center no-repeat transparent;
background-size:cover;
}



@media(min-width:1000px){
	.mobileonly{display:none;}
}
@media(max-width:1000px){
	.mobilecenter{text-align:center; margin-left:auto; margin-right:auto; display:block;}
	.nomobile{display:none;}

		h2{font-size:33px; line-height:42px;}
	header .container{

		background-image:none;

		.col-md-10.col-sm-10{margin:0 auto;}
		
		h1, h2{text-align:center;}

		
		p{text-align:center;}
		
		.yellowarrowdown.leftalign{margin:50px auto;}


		
		&:after{display:none;}
	
	}

		.headerimg{display:block; text-align:right; width:100%;
			img{max-width:100%; height:auto; width:auto;}
		}

		.standardstable table td, .standardstable table 

		th,td
		{font-size:22px;

		&:before{display:none !important;}
		&:after{display:none !important;}
		
		}

}
	
