@font-face {
    font-family: 'BrandonGrotesque-Black';
    src: url('/app/Fonts/BrandonGrotesque-Black.otf');
}
@font-face {
    font-family: 'BrandonGrotesque-Bold';
    src: url('/app/Fonts/BrandonGrotesque-Bold.otf');
}
@font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: url('/app/Fonts/BrandonGrotesque-Regular.otf');
}
@font-face {
    font-family: 'BrandonGrotesque-Medium';
    src: url('/app/Fonts/BrandonGrotesque-Medium.otf');
}


.yellowtxt{color:$yellow;}
.tealtxt{color:$teal;}
.centeralign{text-align:center;}


a{color:$yellow; font-family:'BrandonGrotesque-Regular';}
a:hover{text-decoration:none; color:$yellowlight;}

h1{
	font-family:'BrandonGrotesque-Black'; 
	color:$darkteal; 
	text-transform:uppercase;
	font-size:57px; line-height:75px;
	}

h2{
font-family:'BrandonGrotesque-Bold'; 
color: $teal;
text-transform:uppercase;
font-size:42px; line-height:52px;
}
h3{
font-family:'BrandonGrotesque-Bold'; 
color: $teal;
text-transform:uppercase;
	&.hugenumber{line-height:143px; font-size:115px; text-align:center; display:block; border-bottom:3px solid $yellow;
	 width: fit-content; margin: 20px auto; padding:0 20px;}
}
h4{
font-family:'BrandonGrotesque-Medium'; 
color: $darkteal;
font-size:32px; line-height:38px;
}
h5{
font-family:'BrandonGrotesque-Medium'; 
color: $darkteal;
}

p,li{
font-family:'BrandonGrotesque-Regular'; 
color:$darkteal;
font-size:23px; line-height:27px;
}

