$yellow: rgba(252,214,11,1);
$yellowlight:  rgba(252,214,11,.7);
$teal: #65C5B4;
$darkteal: #004053;
$lightgray: #939598;


.m-1{margin-top: 20px; margin-bottom:20px;}
.m-2{margin-top: 40px; margin-bottom:40px;}
.m-3{margin-top: 60px; margin-bottom:60px;}
.m-4{margin-top: 80px; margin-bottom:80px;}
.m-5{margin-top: 100px; margin-bottom:100px;}


.p-1{padding-top: 20px; padding-bottom:20px;}
.p-2{padding-top: 40px; padding-bottom:40px;}
.p-3{padding-top: 60px; padding-bottom:60px;}
.p-4{padding-top: 80px; padding-bottom:80px;}
.p-5{padding-top: 100px; padding-bottom:100px;}

.clearboth{clear:both;}

.borderyellow{border:3px solid $yellow;}
